.projects-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    background-image: url('/background2-reverse.svg');
    background-size: cover; /* Adjust the size as needed */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent repetition */
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width */
    color: #ffd60a;
    border-bottom: 1px #b5b5b563;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
}