.gradient-bg {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #020617;
  z-index: -1;
  overflow: hidden;
}

.gradients-container {
  filter: url(#goo) blur(40px);
  width: 100%;
  height: 100%;
}

.g1,
.g2,
.g3,
.g4 {
  position: absolute;
  border-radius: 50%;
  mix-blend-mode: hard-light;
  opacity: 0.4;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.g1 {
  background: radial-gradient(
    circle at center,
    rgba(14, 86, 195, 0.8) 0,
    rgba(0, 0, 0, 0) 50%
  );
  width: 80%;
  height: 80%;
  top: calc(50% - 40%);
  left: calc(50% - 40%);
  animation: moveVertical 30s ease infinite;
}

.g2 {
  background: radial-gradient(
    circle at center,
    rgba(16, 42, 115, 0.8) 0,
    rgba(0, 0, 0, 0) 50%
  );
  width: 80%;
  height: 80%;
  top: calc(50% - 40%);
  left: calc(50% - 40%);
  transform-origin: calc(50% - 400px);
  animation: moveInCircle 20s reverse infinite;
}

.g3 {
  background: radial-gradient(
    circle at center,
    rgba(15, 33, 74, 0.8) 0,
    rgba(0, 0, 0, 0) 50%
  );
  width: 80%;
  height: 80%;
  top: calc(50% - 40% + 200px);
  left: calc(50% - 40% - 500px);
  transform-origin: calc(50% + 400px);
  animation: moveInCircle 40s linear infinite;
}

.g4 {
  background: radial-gradient(
    circle at center,
    rgba(15, 23, 42, 0.8) 0,
    rgba(0, 0, 0, 0) 50%
  );
  width: 80%;
  height: 80%;
  top: calc(50% - 40%);
  left: calc(50% - 40%);
  transform-origin: calc(50% - 200px);
  animation: moveHorizontal 40s ease infinite;
  opacity: 0.7;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes moveVertical {
  0% {
    transform: translateY(-50%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes moveHorizontal {
  0% {
    transform: translateX(-50%) translateY(-10%);
  }
  50% {
    transform: translateX(50%) translateY(10%);
  }
  100% {
    transform: translateX(-50%) translateY(-10%);
  }
}
