.navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgba(0, 8, 20, 0.9);
    color: #FFC300;
    border-bottom: 1px #b5b5b563;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-top: none;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar-name {
    margin-top: 20px;
    margin-bottom: 20px;
}

#navbar-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 28%;
    font-size: 24px;
}

.navbar-mobile {
    display: none;
}

@media (max-width: 1400px) {
    #navbar-links {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-start;
        position: fixed;
        top: 75px;
        right: -300px;
        width: 200px;
        height: 100vh;
        background-color: rgba(0, 8, 20, 0.9);
        box-shadow: 0 40px 60px rgba(0, 0, 0, 0.1);
        padding: 20px 10px 0px 0px;
        transition: 0.3s ease-in-out;
    }

    #navbar-links.active {
        right: 10px;
    }

    #navbar-links a {
        margin-bottom: 20px;
        font-size: 28px;
    }

    .navbar-mobile {
        display: flex;
        flex-direction: column;
    }
    
    .navbar-mobile img {
        width: 40px;
        height: 40px;
        filter: invert(100%) sepia(100%) saturate(1000000000%) hue-rotate(-40deg) brightness(100%);
    }

    .navbar-mobile img.menu-closed {
        display: none;
      }
      
    .navbar-mobile img.menu-open {
        display: block;
      }
}