.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  color: #ffd60a;
}

.projects-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.projects-img-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10%;
  width: fit-content;
  height: fit-content;
  background-color: rgba(0, 114, 213, 0.7);
  padding-top: 60px;
  padding-right: 80px;
  padding-bottom: 60px;
  max-width: 50%;
}

.projects-image {
  height: 100%;
  width: 85%;
}

.projects-desc-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
  margin-right: 5%;
  margin-top: 10%;
  width: 50%;
  height: fit-content;
}

.projects-desc-title {
  font-size: 50px;
  font-weight: 900;
  margin-bottom: 2%;
}

.projects-description {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 2%;
}

.projects-tech-img {
  width: 64px;
  height: 64px;
  margin-right: 10px;
}

.projects-buttons-container {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  height: fit-content;
}

.projects-button {
  margin-top: 30px;
  width: 200px;
  height: 70px;
  font-size: 24px;
  border-radius: 10px;
  background-color: rgba(0, 29, 61, 0.7);
  color: #ffd60a;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 0 6px 20px rgba(0, 0, 0, 0.19);
  transition: transform 0.2s;
  cursor: pointer;
  font-weight: 700;
}

.projects-img-carousel {
  display: flex;
  align-items: center;
  gap: 5px;
}

.projects-img-carousel button {
  display: flex;
  align-items: center;
  width: 50px;
  height: 50px;
  padding: 10px;
  border-radius: 5px;
  font-size: 16px;
  border: none;
  background-color: rgba(0, 29, 61, 0.7);
}

.projects-img-carousel button:hover {
  background-color: rgba(0, 29, 61, 0.5);
  cursor: pointer;
}

.projects-button:hover {
  transform: translateY(-5px);
}

@media (max-width: 1000px) {
  .projects-content {
    flex-direction: column;
    justify-content: center;
  }
  .projects-img-container {
    margin-top: 10%;
    padding-top: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
    max-width: 100%;
    margin-left: 1%;
    margin-right: 1%;
  }

  .projects-img-carousel {
    gap: 5px;
    max-width: 100%;
  }

  .projects-desc-title {
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 2%;
  }

  .projects-description {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 2%;
  }

  .projects-tech-img {
    width: 48px;
    height: 48px;
    margin-right: 10px;
  }

  .projects-button {
    margin-top: 20px;
    width: 100px;
    height: 50px;
    font-size: 15px;
  }

  .projects-buttons-container {
    flex-direction: row;
    gap: 20px;
  }
  .projects-desc-container {
    width: 100%;
    height: fit-content;
    padding: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 600px) {
  .projects-desc-title {
    font-size: 14px;
    font-weight: 900;
    margin-bottom: 2%;
  }

  .projects-description {
    font-size: 10px;
    font-weight: 500;
    margin-bottom: 2%;
  }

  .projects-tech-img {
    width: 24px;
    height: 24px;
    margin-right: 5px;
  }

  .projects-button {
    margin-top: 10px;
    width: 70px;
    height: 40px;
    font-size: 12px;
  }

  .projects-buttons-container {
    gap: 15px;
  }
}
